.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* styles.css */

body {
  margin: 0;
  padding: 0;
  background-color:#1a1a1a; /* Establece el color de fondo en negro */
  color: white; /* Establece el color del texto en blanco */
  font-family: 'Arial', sans-serif; /* Cambia la fuente del texto si lo deseas */
}

#root {
  height: 100vh; /* Asegura que el contenedor principal ocupe el 100% de la altura de la ventana */
  display: flex;
  flex-direction: column;
}
